In [2]:
#Import modules
import os
import csv
import re
import pandas as pd
import numpy as np

In [3]:
# Path to collect data from the folder (like pointing out where to look 
# for the document)
budget_csv = os.path.join("budget_data5.csv")

In [4]:
#Print Security message
print("file found and read as csv")

file found and read as csv

In [5]:
# Import the data into a Pandas DataFrame
budget_df = pd.read_csv("budget_data5.csv")

In [6]:
# Preview of the data
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
# Identify incomplete rows
budget_df.count()

Date             86
Profit/Losses    86
dtype: int64

In [8]:
# Drop all rows with missing information
budget_df = budget_df.dropna(how='any')

In [9]:
# Verify dropped rows
budget_df.count()

Date             86
Profit/Losses    86
dtype: int64

In [10]:
# Veryfied that all data is the right type of variable. 
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [14]:
# Display a statistical overview
budget_df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [13]:
# The total number of months included in the dataset
total_m = len(budget_df.index)
total_m

86

In [15]:
# The net total amount of "Profit/Losses" over the entire period
total_amount = budget_df["Profit/Losses"].sum()
total_amount

38382578

In [ ]:
# The average of the changes in "Profit/Losses" over the entire period

In [ ]:
# The greatest increase in profits (date and amount) over the entire period

# The greatest decrease in losses (date and amount) over the entire period


# As an example, your analysis should look similar to the one below:
    # Financial Analysis
    # ----------------------------
    # Total Months: 86
    # Total: $38382578
    # Average  Change: $-2315.12
    # Greatest Increase in Profits: Feb-2012 ($1926159)
    # Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [ ]:
# Your final script should print the analysis to the terminal

In [ ]:
# Your final script should export a text file with the results (without the index) 
unknown_movies.to_excel("output/movieWatchlist.xlsx", index=False)

In [ ]:
# Open the file in "read" mode ('r') and store the contents in the variable "text"
#with open(file, 'r') as text:

    # This stores a reference to a file stream
    #print(text)

    # Store all of the text inside a variable called "lines"
    #lines = text.read()

    # Print the contents of the text file
#     print(lines)




# # Write data to a CSV file
# Open ("budget_csv", "r") as csvfile:
#     csvreader = csv.reader(csvfile)

# #Print Security message
# print("So far, so good!")